{% extends "base.html" %}
{% load timesinceshort %}

{% block content %}

    <h1>{% block title %}Forums{% endblock %}</h1>

    <a href="/forums/new" class="button button-primary new">New Thread</a>

    {% if threads %}
    <table class="threads">
        <thead>
            <tr>
                <td>Thread</td>
                <td>Responses</td>
                <td>Last Response</td>
            </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
            <tr>
                <td class="thread">
                    <a href="/forums/{{ thread.id }}/">
                        <div class="title">{{ thread.title }}</div><br>
                        <div class="preview">{{ thread.message|truncatechars:43 }}</div><br>
                        <div class="posted">{{ thread.posted|timesince }} ago by <b>{{ thread.thread_poster }}</b></div><br>
                    </a>
                </td>
                <td class="responses"><a href="/forums/{{ thread.id }}/">{{ thread.num_responses|default:'-' }}</a></td>
                <td class="last-reply">
                    <a href="/forums/{{ thread.id }}/#bottom">by <b>{{ thread.response_poster }}</b> &raquo;<br /><span class="text-small">{{ thread.last_touch|timesinceshort }} ago</span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No threads</p>
    {% endif %}

{% endblock %}