{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Forums{% endblock %}</h1>

    {% if latest_thread_list %}
        <ul>
        {% for thread in latest_thread_list %}
            <li class="thread">
                <a href="/forums/{{ thread.id }}/">{{ thread.thread_title }}</a> 
                <span class="preview">{{ thread.thread_content|truncatewords_html:10 }}</span>
                <br>
                <span class="posted">{{ thread.thread_date|timesince }} ago</span>
                <span class="author">by {{ thread.author }}</span>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No threads</p>
    {% endif %}

{% endblock %}