{% extends "base.html" %}

{% block content %}

<div class="thread">

	<div class="first">
		<h1>{% block title %}{{ thread.title }}{% endblock %}</h1>
		<div class="poster">
			<div class="name"><a href="/users/profile/{{ thread.poster }}">{{ thread.poster }}</a></div>
				<span>&middot;</span>
			<div class="location">{{ thread.poster.profile.location }}</div>
		</div>
		<div class="time">{{ thread.posted|timesince }} ago</div>
		<!-- <div class="time">{{ thread.posted|date:"j/m/Y H:i A" }}</div> -->
		<div class="post">{{ thread.message|safe }}</div>
	</div>
	<div class="responses">
		{% for response in thread.response_set.all %}
		<div class="response">
			<div class="poster">
				<div class="name"><a href="/users/profile/{{ response.poster }}">{{ response.poster }}</a></div>
				<span>&middot;</span>
				<div class="location">{{ response.poster.profile.location }}</div>
			</div>			
			<div class="time">{{ response.posted|timesince }} ago</div>
			<div class="post">{{ response.message }}</div>
		</div>
		{% endfor %}
		<a name="bottom"></a>
	</div>
	<div class="respond">
	<h2>Respond</h2>
		{% if error_message %}<strong>{{ error_message }}</strong>{% endif %}

		<form action="/forums/{{ thread.id }}/respond/" method="post" novalidate>
		{% csrf_token %}
		{{ form }}
		<button type="submit" class="button button-primary">Reply</button>
		</form>
	</div>
</div>
{% endblock %}