{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Edit Group{% endblock %}</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Group Name</label>
        <input type="text" name="username" value="{{ group.name }}" class="disabled">

        <label>Group Description</label>
        <textarea name="description">{{ group.description }}</textarea>

        <label>Icon</label>
        <input type="file" name="icon">

        <button type="submit" class="primary-button">Edit</button>
    </form>

{% endblock %}