{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Groups{% endblock %}</h1>

    <a href="/groups/new" class="button button-primary new">New Group</a>

    <div class="groups">
    {% for group in groups %}
        <div class="group">
			<div class="icon"><a href="/groups/{{ group.id }}"><img src="/{{ group.icon }}"></a></div>
			<div class="name"><a href="/groups/{{ group.id }}">{{ group.name }}</a></div>
			<div class="description">{{ group.description }}</div>
			<div class="created">Formed {{ group.created|date:"m/d/Y" }}</div>
        </div>
    {% endfor %}
    </div>

{% endblock %}