{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}New Group{% endblock %}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button button-primary">Create Group</button>
    </form>

{% endblock %}