@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
	background: #37474F;
	color: #FFF;
	font-family: 'PT Sans', sans-serif;
}

a {
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
}