
* { margin:0; padding:0;}
html, body { height: 100%; }
body {
	font-family: 'Open Sans', sans-serif;
	background: #2F3838;
	color: #FFF;
	line-height: 1.5em;
}

a {
	color: #FFF;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
	margin-bottom: 40px;
}

li {
	list-style-type: none;
	line-height: 1.7em;
}

.wrapper {
	height: 100%;
	display: table;
	width: 100%;
}

.header {
	font-family: 'Montserrat', sans-serif;
	display: table-row;
	height: 1px;
	background: #23282A;
}

.title {
	padding: 20px;
	padding-left: 40px;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: bold;
}

.main {
	height: 100%;
	display: table;
	width: 100%;
	background: #262E30;
}

.main .sidebar {
	width: 200px;
	background: #22292B;
}

.hero {
	height: 200px;
	display: table;
	width: 100%;
	background: #2B3133;
}

.hero .sidebar {
	width: 200px;
	background: rgba(34, 41, 43, 0.5);
}

.box {
	display: table-cell;
	padding: 40px;
}

.content {
	padding: 40px 80px;
}

.footer {
	display: table-row;
	height:1px;
	background: #444;
	color: #444;
}

nav li {
	font-size: 14px;
	list-style-type: none;
	line-height: 3em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav li a {
	text-decoration: none;
	color: #FFF;
	padding: 5px 0;
}

nav li a:hover {
	border-bottom: 2px solid #8CFEE6;
}

.auth {
	vertical-align: bottom;
	font-size: 10px;
}

.auth span{
	opacity: 0.7;
	padding: 0 5px;
}

.auth .name {
	font-size: 12px;
}

.auth a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	border-bottom: 1px solid #8CFEE6;
	letter-spacing: 1px;
	opacity: 0.7;
}

.auth a:hover {
	opacity: 1;
}

.icon img {
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 25px;
}

.author {
	height: 70px;
}

.author .name, .author .location {
	display: block;
	margin-left: 70px;
}

.author .location {
	opacity: 0.5;
}

.response {
	margin-top: 50px;
	border-top: 1px solid #2F3838;
	padding-top: 30px ;
}

.thread .time {
	margin-left: 70px;
	font-size: 12px;
	opacity: 0.7;
}

.thread .post {
	margin-left: 70px;
	padding-top: 30px;
}

input, textarea {
	width: 100%;
	display: block;
    background: rgb(58, 71, 74);
    border: none;
    color: #FFF;
    padding: 10px 15px;
    font-size: 16px;
    font-family: inherit;
    margin: 10px 0;
    box-sizing: border-box;
}

.primary-button {
    background: #22afd0;
    padding: 15px 35px;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

label {
	opacity: 0.5;

}

.respond {
    border-top: 1px solid rgb(58, 71, 74);
    margin-top: 50px;
    padding-top: 50px;
}