{% load static %}
{% load timesinceshort %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | Hestia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Lora" rel="stylesheet">
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
      <script>
      tinymce.init({
        selector: '.tinymce',
        skin: "custom",
        plugins: "lists, link",
          toolbar: 'bold italic underline | numlist bullist | link | removeformat',
    menubar:false,
    statusbar: false,
      });
      </script>

</head>
<body>
<div class="wrapper">
    <div class="header"><div class="title">Hestia</div></div>
    <div class="hero">
        <div class="box sidebar">
        </div>
        <div class="box content">
        </div>
        <div class="box sidebar auth">
        {% if user.is_authenticated %}
            <div class="name">Hello, <a href="/users/profile/{{ user.username }}">{{ user.username }}</a></div>
            <a href="/users/logout">Log out</a>
        {% else %}
            <a href="/users/login">Log in</a> <span>or</span> <a href="/users/register">Register</a>
        {% endif %}

        </div>
    </div>
    <div class="main">
        <div class="box sidebar">    
            <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/forums">Forums</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/groups">Groups</a></li>
            <li><a href="/about">About</a></li>
            </ul>
            </nav>
        </div>
        <div class="box content">
            {% block content %}{% endblock %}
        </div>
        <div class="box sidebar">
            <div class="recent-responses">
                <h2>Latest Posts</h2>
                {% for recent_response in request.recent_responses %}
                <div class="response">
                    <a href="/forums/{{ recent_response.thread.id }}?page=last#{{ recent_response.id }}">
                        <div class="text-small title"><b>{{ recent_response.thread.title }}</b></div><br>
                        {{ recent_response.message|striptags|truncatechars:55 }}
                        <div class="text-small posted">{{ recent_response.posted|timesinceshort }} ago by {{ recent_response.poster.username }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">Hestia 2017 | <a href="">Contact</a></div>
</div>




</body>
</html>