{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hestia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'forums/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans|Lora" rel="stylesheet">
</head>
<body class="top">
    <canvas id="canvas" width="1400" height="800">
    </canvas>
            
    <div class="enter">
        <h1>Hestia</h1>
        <form method="post">
            {% csrf_token %}
            <label>enter password</label>
            <input type="password" name="password">
        </form>
        <a href="/users/login">login</a>
    </div>

    </div>
    <script src="{% static 'js/spinny.js' %}"></script>
</body>
</html>